URL: https://ufcu.org/business/business-requirements
Source: UFCU Website
--------------------------------------------------

Business Requirements
UFCU Serves Businesses
If you run a large or small business, UFCU is ready to serve you. Read on to find out what we require of our business Members.
Be Prepared
The requirements to open a UFCU business deposit account vary depending on the entity type
1
of your business.
Details are in this downloadable PDF:
Business Account Checklist (PDF)
Understand the Beneficial Ownership Rule
UFCU adheres to federal regulations that require financial institutions to obtain, verify, and record information about the beneficial owners of legal entity
1
customers.
Details are in this downloadable PDF:
Beneficial Ownership Rule (PDF)
Business Credit Card and Loan Requirements
Business loans include
Auto
,
Equipment
,
Line of Credit
, and
Working Capital
loans. Credit cards and loans may be available for businesses that meet these requirements:
Your business has been in operation for at least 2 years.
You have been an owner of the business for at least 2 years.
You own at least 25% of the business.
Your business is permitted to do business in the State of Texas.
Your business is located in the State of Texas.
See the
UFCU Business Credit Card Agreement, Disclosures & Guaranty Agreement (PDF)
.
Ready for Membership?
Contact Us
Find a Location
Make an Appointment
Apply for a Loan
Resources & Tools
Austin Score
(opens in a new window)
Texas State SBDC
(opens in a new window)
Galveston County Small Business Development Center
(opens in a new window)
Texas Economic Development Guide to Starting a Business
(opens in a new window)
Texas Department of Insurance Resources for Small Business
(opens in a new window)
1
UFCU does not provide tax or legal advice. For such guidance, please consult a qualified tax or legal advisor.